section.board {
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

div.row {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
}

div.cell {
    box-sizing: border-box;
    flex-grow: 1;
}

.board.grid {
    border: 1px solid black;
}

.row.grid {
    border-style: solid;
    border-color: black;
    border-width: 1px 0;
}

.cell.grid {
    border-style: solid;
    border-color: black;
    border-width: 0 1px;
}

